#container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h1{
    font-size: larger;
    font-size: 20px;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
    border: 1px solid black;
    width: 50vw;
    height: 50vh;
    font-size: 20px;
    gap: 20px;
}
input{
    width: 20vw;
    height: 25px;
    font-size: 15px;
}

#calcular{
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
    background-color: rgb(206, 206, 206);
    border: 1px solid black;
    width: 50vw;
    height: 50vh;
    font-size: 20px;
}

#saida{
    font-size: 20px;
    background-color: red;
    width: 250px;
    display: flex;
    align-items: center;
    width: 20vw;
}
