
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --altura-menu: 80px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
}

.container{
    background-color: whitesmoke;
    width: 100vw;
    height: 120vh;
}

.menu{
    height: 5rem;
    background-color: black;
}

.menu ul{
    display: flex;
}

.menu li{
    list-style: none;
}

.menu a{
    display:inline-block;
    padding: 1.5625rem .9375rem;
    height: 5rem;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.menu a:hover{
    background-color: rgb(68, 68, 68);
}

h1{
    text-align: start;
    padding: 20px; 
}

p{
    text-align: justify;
    padding: 5px;
    margin: 5px;
    text-indent: 10px;
    font-size: 15px;
}

#home {
    background-image: url("https://pubimg.band.uol.com.br/files/9766cf5beccf814e7e02.jpeg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    text-align: left;
    color: whitesmoke;
    font-size: 1rem;
    height: calc(120vh - var(--altura-menu));
}

#secao1{
    background-color: white;
    color: black;
    width: 100%;
    
}

img#imola{
    width: 37.5rem;
    display: flex; 
}

#secao2{
    background-color: whitesmoke;
    color: black;
    height: 100vh;
    
}

#secao3{
    background-color: whitesmoke;
    color: black;
    height: 100vh;
}

img#canada{
    max-width: 30%;
    
}

#contatos{
    display: flex;
    background-color: rgb(19, 18, 18);
    color: white;
}

.parte1 {
    width: 30vw;
}
.parte2 {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}
.parte3 {
    width: 30vw;
}

.parte3 div {
    display: flex;
    column-gap: 20px;
}

.parte1#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
