.cabecalho{
    text-align: center;
    font-size: 0.8em;
}

.titulo{
    text-align: center;
    text-transform: uppercase;     
}

.versiculo{

}

.texto{

}

.importante{
    text-align: center;
    color: forestgreen;
    font-size: 1.4em;
    font-weight: bold;
}

.desafio{
    text-align: center;
    background-color: lightgrey;
    font-style: italic;
}

