
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

h1{
    text-align: center;
    font-family:"Anton&family";
}

h2{
    font-family:"Anton&family";
}

.versiculo{
    font-family:"Roboto Condensed:ital,wght@0,100..900;1,100..900&display=swap";
    text-indent: 1em;
}

.Jesus{
    font-family:"Roboto Condensed:ital,wght@0,100..900;1,100..900&display=swap";
    color: red;
}

sup{
    color: black;
}
